/*  ======  large 3  ====== */
@media (max-width: 1200px) {
}

/*============ medium 2 ============*/
@media (max-width: 991px) {
  nav .links li a {
    padding: 10px 5px;
  }
  /*=====  About ===== */
  .about {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  .about .about-desc {
    text-align: center;
    padding: 15px 0;
    max-width: 100%;
  }
  .about .about-info {
    padding: 15px 0;
  }



  .portfolio .container{
    flex-direction: column;
  }
  .portfolio-box{
    font-size: 16px;
    width: 95%;
    height: auto;
  }

  .client{
    flex-direction: column;
  }
  .client-box{
    margin: 10px 0;
    background-color: #F8F9FA;
    width: 100%;
  }

  .column{
    width: 100%;
  }
  .Contact .container{
    flex-wrap: wrap;
  }
  .Contact-address{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    order: 1;
    }
    .Contact-message{
      text-align: center;
      width: 100%;
    }
    footer{
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
    }
    footer> div{
      width: 100%;
      text-align: center;
    }
}

/* =========== sm 1 =========*/
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  nav .links ul {
    display: none;
  }
  .navbar-span {
    display: block;
  }
  .title-section .title-z2 {
    padding: 40px 0;
  }
  .title-section .title-z2 h3 {
    font-size: 4em;
  }
  /*=====  About ===== */
  .about-boxs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-boxs .box {
    width: 50%;
    flex: none;
  }
  .about-boxs .b10, .about-boxs .b250{
    border-bottom: 1px dotted #e0dede;
  }
  .about-boxs .b250{
    border-right: none;
  }

  .wha-do .container{
    flex-direction: column;
    width: 65%;
  }
  .resume{
    font-size: 16px;
    flex-direction: column;
  }
  .skills .skills-box{
    width: 100%;
  }

}

/* ========  xs  1 ======== */
@media (max-width: 600px) {

  .title-section {
    font-size: 8px;
  }
  .title-section .title-z2 {
    padding: 14px 0;
  }

  .title-section .title-z1 h2 {
    font-size: 7em;
  }
  .hiro-overly {
    font-size: 10px;
  }
  .hiro-overly p {
    font-size: 1.8em;
  }
  .wha-do .container{
    width: 100%;
  }
  .portfolio-box{
    position: relative;
    width: 100%;
  }

}
@media (max-width: 370px) {

  .title-section {
    font-size: 5px;
  }
  .title-section .title-z2 {
    padding: 10px 0;
  }

  .title-section .title-z1 h2 {
    font-size: 7em;
  }
  .hiro-overly {
    font-size: 8px;
  }
  .hiro-overly p {
    font-size: 1em;
  }
}

