* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border-radius: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 85%;
  margin: auto;
}
/* start title-section */
.title-section {
  width: 100%;
  margin: 25px auto;
  text-align: center;
  position: relative;
}
.title-section .title-z1{
  overflow: hidden;
}
.title-section .title-z1 h2 {
  color: #dee3e473;
  font-size: 7.7em;
}
.title-section .title-z2 {
  padding: 58px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.title-section .title-z2 h3 {
  color: #212529;
  font-size: 2.2em;
}
.title-section .title-hr {
  width: 80px;
  height: 3px;
  margin: auto;
  background-color: #20c997;
}
/* end title-section */

/*=====  nav ===== */
nav {
  width: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-span {
  width: 35px;
  margin: 15px;
  padding: 1px;
  display: none;
}
.navbar-span span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  padding: 1px;
  display: block;
}
nav .links li {
  display: inline-block;
}
nav .links li a {
  color: #fff;
  display: inline-block;
  padding: 20px 10px;
}

/*===== Hiro ===== */
.hiro {
  color: #fff;
  height: 100vh;
  background-image: url(/images/hero/intro-bg.jpg);
  background-size: cover;
  background-position: center;
}
.overly {
  width: 100%;
  height: 100%;
  background-color: #131314c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overly * {
  padding-bottom: 20px;
}
.overly h3 {
  font-size: 1.7em;
}
.overly h1 {
  font-size: 3.8em;
}
.overly p {
  font-size: 1.3em;
}
.overly span {
  margin-top: 10px;
  color: #20c997;
  padding: 15px 30px;
  border: 2px #20c997 solid;
  border-radius: 25px;
  transition: all 1s;
}
.overly span:hover {
  color: #fff;
  background-color: #20c997;
}
/*=====  About ===== */
.about {
  margin: 30px auto;
  display: flex;
}
.about .about-desc {
  max-width: 70%;
  padding-right: 50px;
}
.about .about-desc h2 {
  font-size: 1.7em;
  color: #252b33;
}
.about .about-desc h2 span {
  color: #20c997;
}
.about .about-desc p {
  color: #4c4d4d;
  line-height: 1.7em;
  padding: 10px 0;
}
.about .about-info ul {
  color: #4c4d4d;
}
.email {
  color: #20c997;
}
.about .about-info span {
  font-weight: 700;
}
.about .about-info ul li {
  border-bottom: #eaeaea 1px solid;
  padding: 15px 0;
}
.last {
  border: #fff 0px solid !important;
}
.btn-gren {
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 0.8em 2.6em;
  background-color: #20c997;
  border-radius: 25px;
  margin-top: 15px;
}
.btn-gren:hover {
  box-shadow: 0px 2px 5px #20c997;
}
.about-boxs {
  margin: 40px 0;
  padding: 40px 0;
  display: flex;
  text-align: center;
}
.about-boxs .box {
  padding: 20px;
  border-right: 1px dotted #e0dede;
  flex: 1;
}
.about-boxs .box h2 {
  font-size: 2.9em;
  color: #6c757d;
}
.about-boxs .box p {
  color: #4c4d4d;
}
/*=====  What I Do ===== */
.wha-do {
  padding: 50px 0;
  background-color: #f8f9fa;
}
.wha-do .container {
  display: flex;
}
.wha-min-box .boxs {
  display: flex;
}
.wha-min-box .box-icon span i {
  font-size: 30px;
  padding: 20px;
  color: #20c997;
  background-color: #fff;
  border-radius: 5px;
}
.wha-min-box .box-text {
  padding: 0 20px;
}
.wha-min-box .box-text h5 {
  font-size: 20px;
  color: #252b33;
  padding-bottom: 15px;
}
.wha-min-box .box-text p {
  color: #4c4d4d;
  padding-bottom: 30px;
  line-height: 30px;
  font-size: 16px;
}
/*=====  Resume  ===== */
.resume {
  display: flex;
}
.resume-box h2 {
  margin: 20px;
  color: #252b33;
}
.box-ietm {
  padding: 20px;
  border: #dee2e6 1px solid;
  border-radius: 5px;
  margin: 20px;
}
.box-ietm span {
  background-color: #20c997;
  color: #fff;
  padding: 1px 7px;
}
.box-ietm h2 {
  margin: 0;
  font-size: 21px;
  color: #252b33;
  font-weight: 500;
  padding: 10px 0;
}
.box-ietm h6 {
  color: #dc3545;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.box-ietm p {
  color: #4c4d4d;
  line-height: 30px;
  padding: 10px;
}
/* My Skills */
.my-skills {
  padding: 50px 0;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10p 0;
  padding: 5px 0;
}
.skills .skills-box {
  width: 45%;
}
.skill-text {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.skill-bar {
  width: 100%;
  height: 10px;
  background-color: #e9ecef;
  overflow: hidden;
  position: relative;
}
.b95::before {
  content: "";
  width: 80%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.b65::before {
  content: "";
  width: 65%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.b95::before {
  content: "";
  width: 95%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.b70::before {
  content: "";
  width: 70%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.b60::before {
  content: "";
  width: 60%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.b80::before {
  content: "";
  width: 80%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.b98::before {
  content: "";
  width: 98%;
  height: 100%;
  background-color: #20c997;
  position: absolute;
}
.box-vc{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.btn-cv {
  display: inline-block;
  padding: 10px 30px;
  color: #6c757d;
  font-weight: 500;
  border: 2px #6c757d solid;
  border-radius: 25px;
}
.btn-cv:hover {
  color: #fff;
  background-color: #6c757d;
}
/*=====  portfolio ===== */
.portfolio{
  padding: 50px 0;
  background-color: #F8F9FA;
}
.portfolio .container{
  display: flex;
  justify-content: space-evenly;
}
.column{
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.portfolio-box{
  position: relative;
  width: 95%;
  height: fit-content;
  overflow: hidden;
}
.portfolio-box img{
  width: 100%;
  }
.portfolio-box .overly{
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 130%;
  left: 0%;
  transition: all 0.7s;
}
.portfolio-box:hover .overly{
  top: 0%;
}
.client{
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.client-box{
  background-color: #F8F9FA;
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.client-box .box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}
.client-box .box img{
  width: 80px;
  display: inline-block;
  border-radius: 50%;
}
.client-box .box .box-title h4{
color: #212529;
padding: 0 20px;
}
.client-box .box .box-title span{
  color: #6C757D;
  padding: 0 20px;
}
.client-box .box p{
  color: #212529;
  line-height: 30px;
  font-weight: 500;
  width: 100%;
  padding-bottom: 20px;
}
.client-box .box i{
  color: #FFC107;
}
/*=====  Client  ===== */
.Contact{
  padding: 50px 0;
  background-color: #F8F9FA;
}
.Contact .container{
  display: flex;
}
.Contact .container h2{
width: 100%;
margin: 30px 0;
}
.Contact-address{
width: 30%;
}
.Contact-address p{
  padding: 10px 0;
}
.Contact-address p i{
  font-size: 18;
padding-right: 12px;
color: #20c997;
display: inline-block;
}
.Contact-message{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.Contact-message form{
  width: 100%;
}
.Contact-message form input,
.Contact-message form textarea{
  width: 100%;
  color: #dae1e3;
  border: 1px #dae1e3 solid;
  padding: 15px;
  font-size: 18px;
  margin: 10px 0;
}
.Contact-message form .w100{
  width: 100%;
}
.Contact-message .center{
  text-align: center;
}
/*=====  footer  =====  */
footer{
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p{
  font-size: 18px;
}
footer p a{
  color: #20c997;
  font-weight: 500;
}
footer h6,
 footer h6 a{
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
}
footer h6 a:hover{
  color: #20c997;
}
